site_name: VOXEL COMPRESSION

use_directory_urls: false

docs_dir: docs
site_dir: site

theme:
  name: readthedocs
  highlightjs: true
  hljs_style: darcula
  hljs_languages: [ebnf, cpp, rust, python]
  custom_dir: custom_theme

markdown_extensions:
  - admonition
  - footnotes
  - mdx_math:
      enable_dollar_delimiter: true

nav:
  - index.md
  - Basics:
      - statistical_tests.md
      - methods.md
  - Related Work:
      - related/overview.md
      - related/literature.md
  - Encoding Methods:
      - uncompressed.md
      - rle/rle.md
      - svo/svo.md
      - svo/construction.md
      - dag/dag.md
      - cuboid_extraction.md
  - File Formats:
      - file_formats/structlang.md
      - file_formats/vl32.md

extra_css:
  - css/darcula.css
  - css/extra.css

extra_javascript:
  - 'https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS_HTML'
  - js/mathjax_config.js
  - js/extra.js
