site_name: VOXEL COMPRESSION

use_directory_urls: false

docs_dir: src
site_dir: docs

theme:
  name: readthedocs
  highlightjs: true
  hljs_style: darcula
  hljs_languages: [asm, ebnf, cpp, rust, python]
  custom_dir: custom_theme

markdown_extensions:
  - toc:
      toc_depth: 2
  - admonition
  - footnotes
  - mdx_math:
      enable_dollar_delimiter: true

nav:
  - index.md
  - Basics:
      - properties.md
      - statistical_tests.md
  - Related Work:
      - related/overview.md
      - related/voxel_formats.md
      - related/literature.md
  - Geometry Encoding:
      - uncompressed.md
      - rle/rle.md
      - rle/space_filling_curves.md
      - rle/hilbert_curves.md
      - svo/svo.md
      - svo/construction.md
      - svo/optimization.md
      - dag/dag.md
      - cuboid_extraction.md
  - Attribute Encoding:
      - attribute_compression.md
  - Implementation:
      - flvc/flvc.md
      - flvc/flvc_optimizations.md
      - flvc/full_example.md
      - flvc/results.md
  - Auxiliary File Formats:
      - file_formats/vl32.md
      - file_formats/vlascii.md
      - file_formats/structlang.md

extra_css:
  - css/darcula.css
  - css/extra.css

extra_javascript:
  - 'https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS_HTML'
  - js/mathjax_config.js
  - js/extra.js
