.wy-side-nav-search {
    background-image: linear-gradient(#eb7252, #e52b49);
}

.icon-home {
    font-weight: 900 !important;
}

.caption-text {
    font-weight: bold;
}

/* Hide the page title in the table of contents.*/
li.toctree-l2:first-child, li.toctree-l3:first-child {
    display: none;
}

/* Reduce excessive left-padding.*/
.toctree-l4 {
    padding-left: 2em !important;
}

body {
    counter-reset: section;
}

ul.subnav {
}

h1 {
    font-size: 250%;
    font-weight: 900;
}

h2 {
    font-size: 175%;
    counter-reset: subsection;
}

h3 {
    font-size: 135%;
    counter-reset: subsubsection;
}

h2::before {
    counter-increment: section;
    content: counter(section) ". ";
}

h3::before {
    counter-increment: subsection;
    content: counter(section) "." counter(subsection) ". ";
}

h4::before {
    counter-increment: subsubsection;
    content: counter(section) "." counter(subsection) "." counter(subsubsection) ". ";
}



